# Bibliotheek: combineren van tabellen

Onderstaande opdracht alleen uitvoeren in Jupyter, niet in Basthon:

In [2]:
%LOAD data/bibliotheek.db

In [3]:
SELECT achternaam, voornaam, straat
FROM leerlingen
ORDER BY achternaam
LIMIT 7;

+------------+----------+-------------------+
| ACHTERNAAM | VOORNAAM | STRAAT            |
+------------+----------+-------------------+
| Aalbers    | Monique  | Lange Uitweg      |
+------------+----------+-------------------+
| Abdoulai   | Sahila   | Berkelstraat      |
+------------+----------+-------------------+
| Abdulkadir | Fatma    | Kastelenplantsoen |
+------------+----------+-------------------+
| Abloukie   | Nourdine | Potgieterstraat   |
+------------+----------+-------------------+
| Baarman    | Glenn    | Berkelstraat      |
+------------+----------+-------------------+
| Bakker     | Jantine  | Kasteelstraat     |
+------------+----------+-------------------+
| Bakker     | Frits    | Herenweg          |
+------------+----------+-------------------+

```{admonition} Opdrachten

1. Maak een lijst van auteurs en de titels van hun boeken die in de bibliotheek zijn.

2. Maak een lijst van leerlingen en de boetes die ze hebben betaald. Zorg dat de uitleningen zonder boete (in de tabel staat dan 0,00 onder boete) niet in de tabel voorkomen

3. Welke boeken zijn er in de bibliotheek van schrijvers uit de negentiende eeuw?

4. Van welke auteurs zijn er boeken in reparatie?

5. Maak een overzicht van alle boeken uit de categorie Nederlands die uitgeleend zijn aan leerlingen uit de zesde klas. Zorg dat de naam van de leerling en titel en auteur van het boek in het resultaat staan.
```

> Maak een lijst van auteurs en de titels van hun boeken die in de bibliotheek zijn.

In de eerste kolom voegen we de onderdelen van de naam van een auteur samen tot één string.
We sorteren de auteurs op achternaam.

*Opmerking.* Het is niet voldoende om alleen de tabel "boeken" te gebruiken, we moeten als voorwaarde ook toevoegen dat er een exemplaar van dat boek in de bibliotheek aanwezig is. (We kunnen eventueel een extra kolom toevoegen met het aantal exemplaren.)

In [4]:
SELECT auteur.voornaam || " " || auteur.tussenvoegsel || " " || auteur.achternaam Auteur, boek.titel Titel, count(*) Aantal
FROM auteurs auteur, boeken boek, exemplaren ex
WHERE auteur.auteurnr = boek.autnr AND ex.boeknr = boek.boeknr
GROUP BY boek.boeknr
ORDER BY Aantal DESC
LIMIT 7;

+--------------------------+-------------------------------+--------+
| Auteur                   | Titel                         | Aantal |
+--------------------------+-------------------------------+--------+
| Hella  Haasse            | Oeroeg                        | 3      |
+--------------------------+-------------------------------+--------+
| Willem Frederik  Hermans | Nooit meer Slapen             | 3      |
+--------------------------+-------------------------------+--------+
| Gerard  Reve             | De Avonden                    | 3      |
+--------------------------+-------------------------------+--------+
| Marga  Minco             | Het bittere kruid             | 3      |
+--------------------------+-------------------------------+--------+
| Harry  Mulisch           | De aanslag                    | 3      |
+--------------------------+-------------------------------+--------+
| Willem Frederik  Hermans | De donkere kamer van Damocles | 3      |
+--------------------------+-------------------------------+--------+
| Renate  Dorrestein       | Het hemelse gerecht           | 2      |
+--------------------------+-------------------------------+--------+

In [5]:
SELECT auteur.voornaam || " " || auteur.tussenvoegsel || " " || auteur.achternaam Auteur, boek.titel Titel
FROM auteurs auteur, boeken boek, exemplaren ex
WHERE auteur.auteurnr = boek.autnr
ORDER BY auteur.achternaam
LIMIT 7;

+----------------+-----------------+
| Auteur         | Titel           |
+----------------+-----------------+
| Richard  Adams | The Plague Dogs |
+----------------+-----------------+
| Richard  Adams | Watership Down  |
+----------------+-----------------+
| Richard  Adams | The Plague Dogs |
+----------------+-----------------+
| Richard  Adams | Watership Down  |
+----------------+-----------------+
| Richard  Adams | The Plague Dogs |
+----------------+-----------------+
| Richard  Adams | Watership Down  |
+----------------+-----------------+
| Richard  Adams | The Plague Dogs |
+----------------+-----------------+

Van welke boeken zijn er exemplaren in de bibliotheek? Hoeveel?

In [6]:
SELECT boek.titel, count(*) AANTAL
FROM boeken boek, exemplaren ex
WHERE boek.boeknr = ex.boeknr
GROUP BY boek.boeknr
ORDER BY aantal DESC
LIMIT 7;

+-------------------------------+--------+
| TITEL                         | AANTAL |
+-------------------------------+--------+
| Oeroeg                        | 3      |
+-------------------------------+--------+
| Nooit meer Slapen             | 3      |
+-------------------------------+--------+
| De Avonden                    | 3      |
+-------------------------------+--------+
| Het bittere kruid             | 3      |
+-------------------------------+--------+
| De aanslag                    | 3      |
+-------------------------------+--------+
| De donkere kamer van Damocles | 3      |
+-------------------------------+--------+
| Het hemelse gerecht           | 2      |
+-------------------------------+--------+

> Welke boeken zijn er in de bibliotheek van schrijvers uit de negentiende eeuw?

Wanneer spreek je van een schrijver uit de negentiende eeuw? Als deze geboren is in die eeuw? Of als die gestorven is in die eeuw? Als je alleen naar de geboortedatum kijkt, zijn bijv. Vestdijk en Slauerhoff 19-e eeuwse auteurs; maar dat is niet de gebuikelijke indeling.

In [7]:
SELECT auteur.achternaam Auteur, boek.titel Titel
FROM auteurs auteur, boeken boek
WHERE auteur.auteurnr = boek.autnr AND auteur.geb_jaar <= '1900' AND auteur.geb_jaar > '1800'
LIMIT 7;

+-----------+----------------------------------------+
| Auteur    | Titel                                  |
+-----------+----------------------------------------+
| Marsman   | Verzamelde Gedichten                   |
+-----------+----------------------------------------+
| Bordewijk | Blokken, Knorrende Besten, Bint        |
+-----------+----------------------------------------+
| Bordewijk | Karakter                               |
+-----------+----------------------------------------+
| Nescio    | De uitvreter - Titaantjes - Dichtertje |
+-----------+----------------------------------------+
| Heyermans | Op Hoop van Zegen                      |
+-----------+----------------------------------------+
| Multatuli | Max Havelaar                           |
+-----------+----------------------------------------+
| Vestdijk  | De koperen tuin                        |
+-----------+----------------------------------------+

In [8]:
SELECT *
FROM AUTEURS
WHERE geb_jaar < '1700'
LIMIT 7;

+----------+----------+-------------+---------------+------------+----------+------------+
| AUTEURNR | VOORNAAM | VOORLETTERS | TUSSENVOEGSEL | ACHTERNAAM | GEB_JAAR | STERF_JAAR |
+----------+----------+-------------+---------------+------------+----------+------------+
| 36       | Joost    | J.          | van den       | Vondel     | 1587     | 1679       |
+----------+----------+-------------+---------------+------------+----------+------------+
| 38       |          | G. A.       |               | Bredero    | 1585     | 1618       |
+----------+----------+-------------+---------------+------------+----------+------------+
| 48       | Ward     | W.          |               | Hermans    |          |            |
+----------+----------+-------------+---------------+------------+----------+------------+
| 65       | Neville  | N.          |               | Shute      |          |            |
+----------+----------+-------------+---------------+------------+----------+------------+
| 67       | Jonathan | J.          |               | Swift      | 1667     | 1745       |
+----------+----------+-------------+---------------+------------+----------+------------+
| 68       |          | K.L.        |               | Verhoef    |          |            |
+----------+----------+-------------+---------------+------------+----------+------------+
| 74       |          | J.H.        |               | Wolthers   |          |            |
+----------+----------+-------------+---------------+------------+----------+------------+

Opmerking: bovenstaande geeft problemen! Als een auteur geen geboortedatum heeft, is dat in dit geval de lege string, in plaats van een "NULL" waarde. Een NULL-waarde levert in een conditie altijd FALSE op, maar de lege strint levert in een vergelijking "<" altijd TRUE!

Dit betekent dat we extra moeten controleren op een niet-ingevulde geboortedatum - we kunnen niet zomaar uitgaan van NULL-waarden.

Welke titels zijn beschreven in de database, maar komen niet in de bibliotheek voor?